/* CSS */


/* Removing Weird Extra Dashboard Padding */
.container-fluid {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

/* Header Title Color */
.skin-blue .main-header .navbar {
    background-color: #ED1C24;
}


/* Change NavBar Size (Does Nothing) */
.navbar .navbar-default .navbar-static-top{
    background-color: #a60000;
}

/* Collapse Button Color */
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #00a65a;
}


